<div class="flex flex-col gap-4 mx-11 p-5 bg-primary rounded-t-xl items-center">
  <!-- Seccion principal -->
  <div class="flex flex-col gap-5">
    <div class="flex flex-col gap-2">
      <p class="text-secondary font-medium text-6xl max-w-4xl">
        ¿Estas listo para transformar tu idea en realidad?
      </p>
      <div class="flex flex-row gap-40 items-center">
        <p class="text-secondary text-8xl font-medium">CONVERSEMOS!</p>
        <button
          class="border-2 rounded-2xl px-8 py-4 text-2xl bg-secondary font-normal"
          >Estoy listo</button
        >
      </div>
    </div>
    <hr class="border-2 bg-secondary rounded-full self-start w-full" />
    <!-- Seccion InfoContacto-->
    <div class="flex flex-row gap-20 self-start">
      <div class="flex flex-col">
        <p class="text-secondary opacity-50 font-medium text-2xl">
          Correo Electrónico
        </p>
        <p class="text-secondary font-medium text-2xl">chavezzsam@gmail.com</p>
      </div>
      <div class="flex flex-col">
        <p class="text-secondary opacity-50 font-medium text-2xl">telefono</p>
        <p class="text-secondary font-medium text-2xl">+51 939390382</p>
      </div>
    </div>
  </div>
</div>
