---
import CardProyects from "./CardProyects.astro";
import CardServices from "./CardServices.astro";
import CardTools from "./CardTools.astro";
import Phases from "./Phases.astro";
---

<div class="">
  <main class="flex flex-col gap-52 pt-32">
    <!-- Vista Inicio -->
    <div class="flex flex- justify-center gap-8">
      <div class="flex flex-col justify-between max-w-lg">
        <div class="flex flex-col gap-4 items-center">
          <h1 class="font-medium text-8xl">Front End . <br /> Ux/Ui .</h1>
          <p class="text-2xl font-medium max-w-md">
            Hi! I’m a curious mind with a passion for technology, storytelling,
            and creative problem-solving. I thrive when I’m learning something
            new—whether it’s a programming language, a design tool, or just how
            to make the perfect cup of coffee.
          </p>
        </div>
        <div class="flex flex-col gap-4 self-end font-semibold text-2xl">
          <h3>Encuéntrame en :</h3>
          <div class="flex flex-row gap-4 self-end">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="48"
              height="48"
              viewBox="0 0 24 24"
              ><g
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                ><path
                  stroke-dasharray="32"
                  stroke-dashoffset="32"
                  d="M12 4c1.67 0 2.61 0.4 3 0.5c0.53 -0.43 1.94 -1.5 3.5 -1.5c0.34 1 0.29 2.22 0 3c0.75 1 1 2 1 3.5c0 2.19 -0.48 3.58 -1.5 4.5c-1.02 0.92 -2.11 1.37 -3.5 1.5c0.65 0.54 0.5 1.87 0.5 2.5c0 0.73 0 3 0 3M12 4c-1.67 0 -2.61 0.4 -3 0.5c-0.53 -0.43 -1.94 -1.5 -3.5 -1.5c-0.34 1 -0.29 2.22 0 3c-0.75 1 -1 2 -1 3.5c0 2.19 0.48 3.58 1.5 4.5c1.02 0.92 2.11 1.37 3.5 1.5c-0.65 0.54 -0.5 1.87 -0.5 2.5c0 0.73 0 3 0 3"
                  ><animate
                    fill="freeze"
                    attributeName="stroke-dashoffset"
                    dur="0.7s"
                    values="32;0"></animate></path
                ><path
                  stroke-dasharray="10"
                  stroke-dashoffset="10"
                  d="M9 19c-1.41 0 -2.84 -0.56 -3.69 -1.19c-0.84 -0.63 -1.09 -1.66 -2.31 -2.31"
                  ><animate
                    fill="freeze"
                    attributeName="stroke-dashoffset"
                    begin="0.8s"
                    dur="0.2s"
                    values="10;0"></animate></path
                ></g
              ></svg
            >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="48"
              height="48"
              viewBox="0 0 24 24"
              ><g
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="4"
                ><path
                  stroke-dasharray="24"
                  stroke-dashoffset="24"
                  d="M17 4l-2 0c-2.5 0 -4 1.5 -4 4v12"
                  ><animate
                    fill="freeze"
                    attributeName="stroke-dashoffset"
                    dur="0.4s"
                    values="24;0"></animate></path
                ><path stroke-dasharray="8" stroke-dashoffset="8" d="M8 12h7"
                  ><animate
                    fill="freeze"
                    attributeName="stroke-dashoffset"
                    begin="0.5s"
                    dur="0.2s"
                    values="8;0"></animate></path
                ></g
              ></svg
            >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="48"
              height="48"
              viewBox="0 0 24 24"
              ><path
                fill="currentColor"
                d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4zm9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3"
              ></path></svg
            >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="48"
              height="48"
              viewBox="0 0 24 24"
              ><g fill="none"
                ><path
                  d="m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"
                ></path><path
                  fill="currentColor"
                  d="M18 3a3 3 0 0 1 3 3v12a3 3 0 0 1-3 3H6a3 3 0 0 1-3-3V6a3 3 0 0 1 3-3zm0 2H6a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V6a1 1 0 0 0-1-1M8 10a1 1 0 0 1 .993.883L9 11v5a1 1 0 0 1-1.993.117L7 16v-5a1 1 0 0 1 1-1m3-1a1 1 0 0 1 .984.821a6 6 0 0 1 .623-.313c.667-.285 1.666-.442 2.568-.159c.473.15.948.43 1.3.907c.315.425.485.942.519 1.523L17 12v4a1 1 0 0 1-1.993.117L15 16v-4c0-.33-.08-.484-.132-.555a.55.55 0 0 0-.293-.188c-.348-.11-.849-.052-1.182.09c-.5.214-.958.55-1.27.861L12 12.34V16a1 1 0 0 1-1.993.117L10 16v-6a1 1 0 0 1 1-1M8 7a1 1 0 1 1 0 2a1 1 0 0 1 0-2"
                ></path></g
              ></svg
            >
          </div>
        </div>
      </div>
      <figure class="object-contain">
        <img class="w-[550px] rounded-3xl" src="/AiSamuel2.png" alt="" />
      </figure>
    </div>

    <!-- Herramientas -->
    <div class="h-screen bg-primary rounded-bl-[136px] rounded-tr-[136px]">
      <h3 class="text-secondary font-medium text-5xl">
        Frameworks y herramientas
      </h3>
      <div class="grid grid-cols-2 gap-y-2 place-items-end">
        <CardTools>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="48"
            height="48"
            viewBox="0 0 256 256"
            ><g fill="none"
              ><rect width="48" height="48" fill="#30382F" rx="60"></rect><g
                clip-path="url(#skillIconsFigmaLight0)"
                ><path
                  fill="#0acf83"
                  d="M94.347 228c18.4 0 33.333-14.933 33.333-33.333v-33.334H94.347c-18.4 0-33.334 14.934-33.334 33.334S75.947 228 94.347 228"
                ></path><path
                  fill="#a259ff"
                  d="M61.013 128c0-18.4 14.934-33.333 33.334-33.333h33.333v66.666H94.347c-18.4 0-33.334-14.933-33.334-33.333"
                ></path><path
                  fill="#f24e1e"
                  d="M61.013 61.333C61.013 42.933 75.947 28 94.347 28h33.333v66.667H94.347c-18.4 0-33.334-14.934-33.334-33.334"
                ></path><path
                  fill="#ff7262"
                  d="M127.68 28h33.333c18.4 0 33.334 14.933 33.334 33.333s-14.934 33.334-33.334 33.334H127.68z"
                ></path><path
                  fill="#1abcfe"
                  d="M194.347 128c0 18.4-14.934 33.333-33.334 33.333S127.68 146.4 127.68 128s14.933-33.333 33.333-33.333S194.347 109.6 194.347 128"
                ></path></g
              ><defs
                ><clipPath id="skillIconsFigmaLight0"
                  ><path fill="#fff" d="M61 28h133.36v200H61z"></path></clipPath
                ></defs
              ></g
            ></svg
          >
        </CardTools>
        <div class="grid grid-cols-4">
          <div class="col-span-1">
            <CardTools>
              <svg
                width="48"
                height="48"
                viewBox="0 0 48 48"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M8.85298 40.8015L5.48248 3H42.5175L39.1425 40.7955L23.9775 45L8.85298 40.8015Z"
                  fill="#E44F26"></path>
                <path
                  d="M24 41.787L36.255 38.3895L39.138 6.09151H24V41.787Z"
                  fill="#F1662A"></path>
                <path
                  d="M24 20.1105H17.865L17.442 15.363H24V10.7265H12.375L12.486 11.9715L13.6245 24.747H24V20.1105ZM24 32.151L23.979 32.157L18.816 30.7635L18.486 27.066H13.8315L14.481 34.344L23.979 36.981L24 36.975V32.151Z"
                  fill="#EBEBEB"></path>
                <path
                  d="M23.9835 20.1105V24.747H29.6925L29.1555 30.7605L23.9835 32.1555V36.9795L33.489 34.344L33.558 33.561L34.647 21.3555L34.761 20.1105H23.9835ZM23.9835 10.7265V15.363H35.1825L35.2755 14.322L35.487 11.9715L35.598 10.7265H23.9835Z"
                  fill="white"></path>
              </svg>
            </CardTools>
          </div>
          <div class="col-span-1">
            <CardTools>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="48"
                height="48"
                viewBox="0 0 256 256"
                ><g fill="none"
                  ><rect width="48" height="48" fill="#30382F" rx="60"></rect><g
                    clip-path="url(#skillIconsFigmaLight0)"
                    ><path
                      fill="#0acf83"
                      d="M94.347 228c18.4 0 33.333-14.933 33.333-33.333v-33.334H94.347c-18.4 0-33.334 14.934-33.334 33.334S75.947 228 94.347 228"
                    ></path><path
                      fill="#a259ff"
                      d="M61.013 128c0-18.4 14.934-33.333 33.334-33.333h33.333v66.666H94.347c-18.4 0-33.334-14.933-33.334-33.333"
                    ></path><path
                      fill="#f24e1e"
                      d="M61.013 61.333C61.013 42.933 75.947 28 94.347 28h33.333v66.667H94.347c-18.4 0-33.334-14.934-33.334-33.334"
                    ></path><path
                      fill="#ff7262"
                      d="M127.68 28h33.333c18.4 0 33.334 14.933 33.334 33.333s-14.934 33.334-33.334 33.334H127.68z"
                    ></path><path
                      fill="#1abcfe"
                      d="M194.347 128c0 18.4-14.934 33.333-33.334 33.333S127.68 146.4 127.68 128s14.933-33.333 33.333-33.333S194.347 109.6 194.347 128"
                    ></path></g
                  ><defs
                    ><clipPath id="skillIconsFigmaLight0"
                      ><path fill="#fff" d="M61 28h133.36v200H61z"
                      ></path></clipPath
                    ></defs
                  ></g
                ></svg
              >
            </CardTools>
          </div>
          <div class="col-span-2"></div>
          <div class="col-span-2">
            <CardTools>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="48"
                height="48"
                viewBox="0 0 256 256"
                ><g fill="none"
                  ><rect width="48" height="48" fill="#30382F" rx="60"></rect><g
                    clip-path="url(#skillIconsFigmaLight0)"
                    ><path
                      fill="#0acf83"
                      d="M94.347 228c18.4 0 33.333-14.933 33.333-33.333v-33.334H94.347c-18.4 0-33.334 14.934-33.334 33.334S75.947 228 94.347 228"
                    ></path><path
                      fill="#a259ff"
                      d="M61.013 128c0-18.4 14.934-33.333 33.334-33.333h33.333v66.666H94.347c-18.4 0-33.334-14.933-33.334-33.333"
                    ></path><path
                      fill="#f24e1e"
                      d="M61.013 61.333C61.013 42.933 75.947 28 94.347 28h33.333v66.667H94.347c-18.4 0-33.334-14.934-33.334-33.334"
                    ></path><path
                      fill="#ff7262"
                      d="M127.68 28h33.333c18.4 0 33.334 14.933 33.334 33.333s-14.934 33.334-33.334 33.334H127.68z"
                    ></path><path
                      fill="#1abcfe"
                      d="M194.347 128c0 18.4-14.934 33.333-33.334 33.333S127.68 146.4 127.68 128s14.933-33.333 33.333-33.333S194.347 109.6 194.347 128"
                    ></path></g
                  ><defs
                    ><clipPath id="skillIconsFigmaLight0"
                      ><path fill="#fff" d="M61 28h133.36v200H61z"
                      ></path></clipPath
                    ></defs
                  ></g
                ></svg
              >
            </CardTools>
          </div>
          <div class="col-span-2 grid grid-cols-1">
            <CardTools>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="48"
                height="48"
                viewBox="0 0 256 256"
                ><g fill="none"
                  ><rect width="48" height="48" fill="#30382F" rx="60"></rect><g
                    clip-path="url(#skillIconsFigmaLight0)"
                    ><path
                      fill="#0acf83"
                      d="M94.347 228c18.4 0 33.333-14.933 33.333-33.333v-33.334H94.347c-18.4 0-33.334 14.934-33.334 33.334S75.947 228 94.347 228"
                    ></path><path
                      fill="#a259ff"
                      d="M61.013 128c0-18.4 14.934-33.333 33.334-33.333h33.333v66.666H94.347c-18.4 0-33.334-14.933-33.334-33.333"
                    ></path><path
                      fill="#f24e1e"
                      d="M61.013 61.333C61.013 42.933 75.947 28 94.347 28h33.333v66.667H94.347c-18.4 0-33.334-14.934-33.334-33.334"
                    ></path><path
                      fill="#ff7262"
                      d="M127.68 28h33.333c18.4 0 33.334 14.933 33.334 33.333s-14.934 33.334-33.334 33.334H127.68z"
                    ></path><path
                      fill="#1abcfe"
                      d="M194.347 128c0 18.4-14.934 33.333-33.334 33.333S127.68 146.4 127.68 128s14.933-33.333 33.333-33.333S194.347 109.6 194.347 128"
                    ></path></g
                  ><defs
                    ><clipPath id="skillIconsFigmaLight0"
                      ><path fill="#fff" d="M61 28h133.36v200H61z"
                      ></path></clipPath
                    ></defs
                  ></g
                ></svg
              >
            </CardTools>
            <CardTools>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="48"
                height="48"
                viewBox="0 0 256 256"
                ><g fill="none"
                  ><rect width="48" height="48" fill="#30382F" rx="60"></rect><g
                    clip-path="url(#skillIconsFigmaLight0)"
                    ><path
                      fill="#0acf83"
                      d="M94.347 228c18.4 0 33.333-14.933 33.333-33.333v-33.334H94.347c-18.4 0-33.334 14.934-33.334 33.334S75.947 228 94.347 228"
                    ></path><path
                      fill="#a259ff"
                      d="M61.013 128c0-18.4 14.934-33.333 33.334-33.333h33.333v66.666H94.347c-18.4 0-33.334-14.933-33.334-33.333"
                    ></path><path
                      fill="#f24e1e"
                      d="M61.013 61.333C61.013 42.933 75.947 28 94.347 28h33.333v66.667H94.347c-18.4 0-33.334-14.934-33.334-33.334"
                    ></path><path
                      fill="#ff7262"
                      d="M127.68 28h33.333c18.4 0 33.334 14.933 33.334 33.333s-14.934 33.334-33.334 33.334H127.68z"
                    ></path><path
                      fill="#1abcfe"
                      d="M194.347 128c0 18.4-14.934 33.333-33.334 33.333S127.68 146.4 127.68 128s14.933-33.333 33.333-33.333S194.347 109.6 194.347 128"
                    ></path></g
                  ><defs
                    ><clipPath id="skillIconsFigmaLight0"
                      ><path fill="#fff" d="M61 28h133.36v200H61z"
                      ></path></clipPath
                    ></defs
                  ></g
                ></svg
              >
            </CardTools>
          </div>
        </div>
        <div></div>
      </div>
    </div>

    <!-- Vista Proyectos y contribuciones -->

    <div class="flex flex-col gap-24 h-screen">
      <h2 class="text-primary font-semibold text-4xl mx-20">
        Proyectos y Colaboraciones
      </h2>
      <div class="flex flex-wrap justify-center gap-11">
        <CardProyects
          titulo="Web Chirasoft"
          src="/Chirasoft.png"
          descripcion="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. "
        />
        <CardProyects
          titulo="Web Chirasoft"
          src=""
          descripcion="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. "
        />
      </div>
    </div>

    <!-- Vista mis servicios-->
    <div class="flex flex-col gap-16 h-max">
      <h2 class="text-primary font-semibold text-4xl mx-20">Mis Servicios</h2>

      <!--servicios-->
      <div class="flex flex-col">
        <div class="bg-primary py-11">
          <div class="flex flex-wrap justify-center gap-11">
            <CardServices
              titulo="Diseños UX/UI"
              descripcion="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. "
            />
            <CardServices
              titulo="Desarrollo Front End"
              descripcion="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. "
            />
          </div>
        </div>
        <!-- fases -->
        <div
          class="bg-primary mx-20 rounded-b-3xl flex flex-wrap justify-center gap-11"
        >
          <Phases
            titulo="Descubrimiento y Planificación"
            number="01"
            descripcion="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
          />
          <Phases
            titulo="Desarrollo"
            number="02"
            descripcion="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
          />
          <Phases
            titulo="Despliegue y Entrega"
            number="03"
            descripcion="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
          />
        </div>
      </div>
    </div>

    <div class="flex flex-row justify-around gap-5">
      <div>
        <h2>hola</h2>
        <h2>mi king</h2>
        <h2>leon</h2>
      </div>
      <!-- <svg
        width="117"
        height="1296"
        viewBox="0 0 117 1296"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M0.0140136 2.80652C-0.111441 1.43201 0.630546 0.183838 1.67156 0.0181885C2.71257 -0.147461 3.65788 0.832153 3.78335 2.20667L63.3865 718.039C63.4618 718.944 63.6599 719.834 63.9754 720.685L116.368 862.03C117.402 864.82 117.14 867.925 115.653 870.502L37.4908 1005.99C36.8063 1007.18 36.3729 1008.49 36.2174 1009.85L3.77593 1293.87C3.61958 1295.24 2.65262 1296.18 1.61594 1295.97C0.579231 1295.77 -0.134718 1294.49 0.0214299 1293.12L32.6085 1007.84C32.7639 1006.47 33.1973 1005.16 33.8819 1003.97L111.271 869.824C112.762 867.24 113.021 864.125 111.978 861.33L59.4842 720.699C59.163 719.839 58.9619 718.938 58.8866 718.023L0.0140136 2.80652Z"
          fill="#30382F"></path>
      </svg> -->
      <!-- Vista mis logros-->
      <div class="flex flex-col gap-5">
        <div>Texto Biblico</div>
        <img src="" alt="" />
        <p class="max-w-80">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod,
          justo eget scelerisque sollicitudin, odio turpis lacinia massa, non
          tincidunt neque sem vel neque. Praesent eget purus vel massa consequat
          volutpat.
        </p>
      </div>
    </div>
  </main>
</div>

<!-- <script>
import gsap from "gsap";
import { ScrollTrigger } from "gsap/ScrollTrigger";
gsap.registerPlugin(ScrollTrigger) 

  gsap.to(".box", { 
    x: 10,
    duration: 1
  });

  gsap.to('.box', {
	scrollTrigger: '.box', // start the animation when ".box" enters the viewport (once)
	x: 500
});
</script> -->
